<div class="masthead clearfix">
  <%= link_to root_path do %>
    <h3 class="masthead-brand">Dai Pham</h3>
  <% end %>
  <nav class="nav nav-masthead app-nav">
    <span><%= link_to 'Blog', blogs_path, class: 'nav-link' %></span>
    <span><%= link_to 'About Me', about_me_path, class: 'nav-link' %></span>
    <% unless current_user.is_a?(GuestUser) %>
      <span><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %></span>
    <% end %>
  </nav>
</div>