<div class="masthead clearfix">
  <%= link_to root_path do %>
    <h3 class="masthead-brand">Dai Pham</h3>
  <% end %>
  <nav class="nav nav-masthead app-nav">
    <%= nav_helper 'nav-link', 'span' %>
  </nav>
</div>