<div class="blog-header">
  <div class="container">
     <!-- <h3 class="blog-title">Dev Thoughts</h3> -->
     <!-- <p class="lead blog-description">Musings from my development journey.</p> -->
    <ul>
      <% @topics.each do |topic| %>
        <li><%= topic.title %></li>
      <% end %>
    </ul>
    <span>
      <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
    </span>
  </div>
</div>
