<div class="col-sm-3 blog-sidebar">
  <p class="ui-h3 text-center">Popular posts</p>
  <hr />
  <div>
    <ul class="popular-posts">
      <li>
        <div class="number">01</div>
        <div class="content">
          <div class="title">The 3 Best Business Books of 2019 (According to Every Other Best-of-2019 List)</div>
          <div class="caption">
            <span>
              <span>Dec 16</span>
              <span><%= fa_icon('eye') %> 100</span>
              <span>5 min read</span>
            </span>
          </div>
        </div>
      </li>
      <li>
        <div class="number">02</div>
        <div class="content">
          <div class="title">The 3 Best Business Books of 2019 (According to Every Other Best-of-2019 List)</div>
        </div>
      </li>
      <li>
        <div class="number">03</div>
        <div class="content">
          <div class="title">The 3 Best Business Books of 2019 (According to Every Other Best-of-2019 List)</div>
        </div>
      </li>
    </ul>
  </div>
</div>
