.blog-sidebar {
  .ui-h3{
    font-size: 24px !important;
  }
  .popular-posts {
    list-style-type: none;
    padding-left: 0px;

    &>li {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      font-size: 16px !important;
      font-weight: 600;
      color: #0A0A0A;
    }
    .number {
      margin-right: 20px;
      font-size: 34px !important;
      color: rgba(0,0,0,.15);
    }
    .caption {
      span {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      color: rgba(0,0,0,.54) !important;
      font-size: 13px;
      font-weight: normal;
      .fa {
        margin-right: 5px;
      }
    }
  }
}